@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index: 5;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -9.5px;
    left: -9px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid rgb(255, 255, 255);
}


header{
    margin-top: 2rem;
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 1;
}

nav{
    width: 80%;
    height: 75px;
    display: flex;
    align-items: center;
}

.navContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.NavLogo>img{
    width: 100%;
    height: 75px;
}

.Menu_Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    pointer-events: none;
}

Content{
    position: absolute;
    bottom: 0;
}

.VideoContent{
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.btn{
    position: absolute;
    bottom: 45.5%;
    left: 45.7%;
}

.StarBtn{
    position: relative;
    padding: 15px 30px;
    overflow: hidden;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    justify-content: center;
    align-content: center;
    transition: 0.2s;
}

.StarBtn:hover{
    background: #ffffff;
    box-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
    transition-delay: 1s;
    color: black;
}

.StarBtn>span{
    position: absolute;
    display: block;
}

#span1{
    top:0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, #ffffff);
}


.StarBtn:hover #span1{
    left: 100%;
    transition: 1s;
}

#span3{
    bottom:0;
    right: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, transparent, #ffffff);
}

.StarBtn:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2{
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffffff);
}

.StarBtn:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span4{
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ffffff);
}

.StarBtn:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}